<div class="container py-3">
  <div class="row">
    <h3>Login</h3>
    <form id="loginForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">We'll never share your email with
          anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <div class="mb-3">
        <p>
          Don't haven't account
          <a href="/register">Register</a>
        </p>
      </div>
      <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script>
  const form = document.getElementById("loginForm");
  const submitBtn = document.getElementById("submitBtn");

  form.addEventListener("submit", async (event) => {
    event.preventDefault(); // Prevent default form submission

    const formData = new FormData(form);

     const formObj = {};

    // Convert FormData to a plain object
    formData.forEach((value, key) => {
      formObj[key] = value;
    });

    try {
      submitBtn.innerText = "Loading..."
      submitBtn.disabled = true
      const response = await fetch("/login", {
        method: "POST",
         headers: {
          "Content-Type": "application/json", // Ensure we're sending JSON data
        },
        body: JSON.stringify(formObj),
      });

      const result = await response.json();

      if (response.ok) {
        // Show success alert
        Swal.fire({
          title: "login Successful",
          text: result.message || "Logged in successfully!",
          icon: "success",
        }).then(() => {
          // Redirect to login page
          window.location.href = "/upload";
        });
      } else {
        // Show error alert
        Swal.fire({
          title: "Login Failed",
          text: result.message || "Something went wrong!",
          icon: "error",
        });
      }
    } 
  catch (error) {
    Swal.fire({
      title: "Error",
      text: "An unexpected error occurred!",
      icon: "error",
    });
  } finally{
      submitBtn.innerText = "Submit";
      submitBtn.disabled = false;
    }
  });
</script>

</div>

